.add-contact-form-card {
  min-width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.input-element {
  width: 100%;
}

.action-button {
  width: 150px;
  margin: 10px;
}