<form [formGroup]="addContactForm">
  <mat-card class="add-contact-form-card">
    <h4>Enter Your new contact.</h4>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Name</mat-label>
      <input
          matInput
          autocomplete="off"
          placeholder="name"
          formControlName="name"
          required
      />
      <mat-error *ngIf="addContactForm.get('name').hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Surname</mat-label>
      <input
          matInput
          autocomplete="off"
          placeholder="surname"
          formControlName="surname"
          required
      />
      <mat-error *ngIf="addContactForm.get('surname').hasError('required')">
        Surname is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Email</mat-label>
      <input
          matInput
          autocomplete="off"
          type="email"
          placeholder="email"
          formControlName="email"
          required
      />
      <mat-error *ngIf="addContactForm.get('email').hasError('required')">
        Email is required.
      </mat-error>
      <mat-error
          *ngIf="
          !addContactForm.get('email').hasError('required') &&
          addContactForm.get('email').hasError('email')
        "
      >
        Enter valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Address</mat-label>
      <input
          matInput
          autocomplete="off"
          placeholder="address"
          formControlName="address"
          required
      />
      <mat-error *ngIf="addContactForm.get('address').hasError('required')">
        Address is required.
      </mat-error>
    </mat-form-field>
    <div>
      <button
          (click)="addContact()"
          mat-raised-button
          color="secondary"
          type="button"
          class="action-button"
          [disabled]="addContactForm.invalid"
      >
        Add
      </button>
      <button
          (click)="closeAddContact()"
          mat-raised-button
          color="secondary"
          type="button"
          class="action-button"
      >
        Cancel
      </button>
    </div>
  </mat-card>
</form>
