.dashboard-page {
  background: #eee;
  min-height: 100vh;
}

.actions-wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}

.action-button {
  width: 150px;
  margin-right: 30px;
}

.contacts-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}