<div class="dashboard-page">
  <div class="actions-wrapper">
    <button
        (click)="addContact()"
        mat-raised-button
        color="secondary"
        type="button"
        class="action-button"
    >
      Add contact
    </button>
    <button
        (click)="logout()"
        mat-raised-button
        color="secondary"
        type="button"
        class="action-button"
    >
      Logout
    </button>
  </div>
  <div class="contacts-list-wrapper">
    <app-add-contact *ngIf="showAddContact" (closeAddContactOutput)="hideAddContact()"></app-add-contact>
    <h3>Your contacts</h3>
    <app-contact-item [contact]="contact" [index]="i" *ngFor="let contact of contacts; let i = index">
      {{contact.name}}
    </app-contact-item>
  </div>
</div>