<mat-card class="contact-item">
  <div>
    <p>
      <small>name:</small>
      <strong>{{contact.name}}</strong></p>
    <p>
      <small>surname:</small>
      <strong>{{contact.surname}}</strong></p>
    <p>
      <small>email:</small>
      <strong>{{contact.email}}</strong></p>
    <p>
      <small>address:</small>
      <strong>{{contact.address}}</strong></p>
  </div>
  <button mat-icon-button (click)="deleteContact()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
