<div class="login-page">
  <form [formGroup]="loginForm">
    <mat-card class="login-form-card">
      <h4>Enter Your name and email.</h4>
      <mat-form-field class="input-element" appearance="outline">
        <mat-label>name</mat-label>
        <input
            matInput
            autocomplete="off"
            placeholder="Your name"
            formControlName="fullName"
            required
        />
        <mat-error *ngIf="loginForm.get('fullName').hasError('required')">
          Name is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-element" appearance="outline">
        <mat-label>email</mat-label>
        <input
            matInput
            autocomplete="off"
            type="email"
            placeholder="Your email"
            formControlName="email"
            required
        />
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
        <mat-error
            *ngIf="
          !loginForm.get('email').hasError('required') &&
          loginForm.get('email').hasError('email')
        "
        >
          Enter valid email.
        </mat-error>
      </mat-form-field>
      <button
          (click)="login()"
          mat-raised-button
          color="secondary"
          type="button"
          [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </mat-card>
  </form>
</div>
