.login-page {
  background: #eee;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-card {
  min-width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-element {
  width: 100%;
}